<% provide(:title, "About") %>

<div class="LI_Body">
  <h3>About</h3>
  <p>
    LinksIn is the premiere networking app for gamers. Find individuals to play
    with based of proximity and games played.
  </p>
  <p>
    LinksIn is a social networking app that builds upon the mechanics of networking
    on Tinder to create an accessible, sociable media outlet for the gaming community.
    As gamers, users can connect to LinksIn through their existing gaming accounts,
    swipe through other gamers and players using the Tinder card-swiping mechanism,
    and connect with new players that might be in the same game as them. Additionally,
    with LinksIn, players can also create LAN events and invite people within their
    'card community' to join and coordinate gaming events together.
  </p>
</div>