<% provide(:title, "Contact") %>
<h3>Contact</h3>
<p>
  Contact the LinksIn team through the contact information on our 
  <a href="https://github.com/scalableinternetservices/linksin">GitHub repository</a>.
</p>