<div class="LI_Landing"> 
  <h3>Welcome to LinksIn</h3>

  <div class="LI_Overview">
    <div class="LI_OverviewElement">
      <div class="LI_OverviewImg">
        <svg id="Heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 386.09 313.43"><g id="HeartRight"><path id="BackButton" d="M424 139a99.62 99.62 0 0 0-53.75-26.41c-36.59-5.38-63.79 12-70.25 16.41l1 20c4.68-3.55 29.92-22 65-17 32.32 4.59 50.83 25.93 55 31z" transform="translate(-63.45 -111.57)" fill="#2dafb5"/><path d="M266 180c15.76-37.25 52.1-61 91-60s70.23 26.77 84 57c17.85 39.17 7.22 87.57-27 119-50.33 43-97.67 86-148 129z" transform="translate(-63.45 -111.57)" fill="#3bedff"/><g id="Buttons"><circle class="heart-3" cx="279.55" cy="71.43" r="15"/><circle class="heart-3" cx="315.55" cy="101.43" r="15"/><circle class="heart-3" cx="279.55" cy="131.43" r="15"/></g></g><g id="HeartLeft"><path id="BackButton-2" data-name="BackButton" d="M91 139a99.62 99.62 0 0 1 53.75-26.41c36.59-5.38 63.79 12 70.25 16.41l-1 20c-4.68-3.55-29.92-22-65-17-32.32 4.59-50.83 25.93-55 31z" transform="translate(-63.45 -111.57)" fill="#c93131"/><path class="heart-3" d="M247 180c-15.76-37.25-52.1-61-91-60s-70.23 26.77-84 57c-17.85 39.17-7.22 87.57 27 119 50.33 43 97.67 86 148 129z" transform="translate(-63.45 -111.57)"/><path d="M95.9 75.87v27.71h26.65v7.08H95.9v28h-7.55v-28H61.7v-7.08h26.65V75.87z" fill="none" stroke="#3bedff" stroke-miterlimit="10" stroke-width="10" id="Plus"/></g></svg>
      </div>
      <div class="LI_OverviewText">
        <p>Match with gamers from around the world with a swipe, tap, or click</p>
      </div>
    </div>
    <div class="LI_OverviewElement">
      <div class="LI_OverviewImg">
      <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452.67 238.41"><path d="M467.09 316c-40.1-72.73-70.56-126.4-81.22-145.28-2.27-4-7.57-13.46-18.31-20.59a53.62 53.62 0 0 0-14.87-6.86H160.51a20.06 20.06 0 0 0-11.44 5.73 20.4 20.4 0 0 0-5.72 13.72c.38 28.6.76 68.64 1.14 97.24a27.38 27.38 0 0 0 9.15 13.73 27.93 27.93 0 0 0 19.45 5.72h147A36.69 36.69 0 0 1 349.26 292l86.94 61.77c14.95 14.1 31.54 21 38.89 16 8.34-5.61 7.97-28.61-8-53.77z" transform="translate(-27.81 -133)" fill="#ff3939"/><path d="M41.2 316c27.08-48.43 54.15-107.15 81.22-155.58a55.13 55.13 0 0 1 18.31-20.59A53.75 53.75 0 0 1 155.6 133h192.18a20.2 20.2 0 0 1 11.44 5.72 20.42 20.42 0 0 1 5.72 13.73c-.38 28.6-.76 67.49-1.14 96.09a27.38 27.38 0 0 1-9.15 13.73A27.92 27.92 0 0 1 335.2 268h-147a36.85 36.85 0 0 0-14.3 2.28 37.26 37.26 0 0 0-14.9 10.29l-86.91 73.21c-15 14.1-31.54 21-38.89 16-8.34-5.62-7.97-28.62 8-53.78z" transform="translate(-27.81 -133)" fill="#3bedff"/><path class="message-3" d="M179.88 233h-16.69v-24.68H138.4v-16.95h24.79v-24.78h16.69v24.78h24.91v16.95h-24.91z" transform="translate(-27.81 -133)" id="Plus"/><circle class="message-3" cx="288.2" cy="44.63" r="7.77"/><circle class="message-3" cx="314.62" cy="66.38" r="7.77"/><circle class="message-3" cx="289.76" cy="88.14" r="7.77"/></svg>
      </div>
      <div class="LI_OverviewText">
        <p>Message gamers using your favorite gaming account</p>
      </div>
    </div>
    <div class="LI_OverviewElement">
      <div class="LI_OverviewImg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.2 439"><g id="Calendar"><rect class="event-1" y="156.66" width="351.2" height="282.34" rx="12" ry="12"/><rect x="32.12" y="182.49" width="286.96" height="230.69" rx="12" ry="12" fill="#b52c2c"/><rect class="event-1" x="222.08" y="204.87" width="51.65" height="51.65" rx="5.83" ry="5.83"/><rect class="event-1" x="222.08" y="270.29" width="51.65" height="51.65" rx="5.83" ry="5.83"/><rect class="event-1" x="149.78" y="270.29" width="51.65" height="51.65" rx="5.83" ry="5.83"/><rect class="event-1" x="79.19" y="270.29" width="51.65" height="51.65" rx="5.83" ry="5.83"/><rect class="event-1" x="79.19" y="337.43" width="51.65" height="51.65" rx="5.83" ry="5.83"/></g><g id="CalendarClip"><path class="event-3" d="M79.56 179.05h344.32c.73-4.79 5.82-42.34-20.66-68.86A74.34 74.34 0 0 0 369 91l-236.07.25A70.67 70.67 0 0 0 101 108c-28.21 26.28-22.13 66.88-21.44 71.05z" transform="translate(-74.4 -31)"/><circle class="event-4" cx="280.62" cy="103.29" r="29.27"/><circle class="event-3" cx="280.62" cy="103.29" r="20.66"/><circle class="event-4" cx="79.19" cy="82.64" r="12.05"/><circle class="event-4" cx="105.02" cy="103.29" r="12.05"/><circle class="event-4" cx="79.19" cy="123.95" r="12.05"/><circle class="event-4" cx="55.09" cy="103.29" r="12.05"/><rect class="event-4" x="130.84" width="18.94" height="91.24" rx="5.5" ry="5.5"/><rect class="event-4" x="211.75" width="18.94" height="91.24" rx="5.5" ry="5.5"/></g></svg>
      </div>
      <div class="LI_OverviewText">
        <p>Host events that can bring your gaming experience to the next level</p>
      </div>
    </div>
  </div>

  <h5>
    Link up with gamers around you. 
  </h5>

  <br><br><br>

  <%= link_to "Sign up now!", signup_path, class: "LI_Button" %>
</div>

 <!--<%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>-->