<% provide(:title, @user.name) %>
<div class="LI_UserShow">
  <div class="LI_UserShowHead">
    <%= gravatar_for @user %>
    <div>
      <h3><%= @user.name %></h3>
      <p><%= @profile.description %></p>
    </div>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  </div>
</div>