<div class="columns">
  <% @conversations.each do |conversation| %>
    <div class="column is-one-third">
      <% if conversation.send_id == current_user.id || conversation.recv_id == current_user.id %>
        <% if conversation.send_id == current_user.id %>
          <% recipient = User.find(conversation.recv_id) %>
        <% else %>
          <% recipient = User.find(conversation.send_id) %>
        <% end %>

        <%= gravatar_for recipient, size: 128  %>
        <strong><%= link_to recipient.name, recipient.profile %></strong>
        <div><%= link_to 'Message', conversations_path(send_id: current_user.id, recv_id: recipient.id), method: 'post' %></div>

      <% end %>
    </div>
  <% end %>

</div>