<% provide(:title, "User Settings") %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url, user_path(@user)) %>
<div class="LI_Body">
  <div class="LI_LoginForm">
    <h3>Update user information</h3>
    <div class="LI_LoginInput">
      <%= render 'form' %>
    </div>
  </div>
</div>