<% provide(:title, 'Listing users') %>
<div class="LI_Body">
  <h3>Listing Users</h3>
  
  <%= will_paginate @Users %>
  
  <table>
    <thead>
    <tr class="LI_TableRow">
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
  
    <!--If current user is an admin-->
    <%= render @users %>
  </table>
  
  <%= will_paginate @Users %>
</div>