<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:url, signup_path) %>
<div class="LI_Body">
  <div class="LI_LoginForm">
  <h3>Sign up</h3>
    <div class="LI_LoginInput">
      <%= render 'form' %>
    </div>
  </div>
</div>