<% provide(:title, @user.name) %>
<div class="LI_UserShow">
  <% if (current_user == User.find(params[:id])) %>
    <%= render 'layouts/gamercard' %>
  <% else %>
    <div class="LI_UserShowHead">
      <%= gravatar_for @user %>
      <div>
        <h3><%= @user.name %></h3>
        <p>description of <%= @user.name %> goes here...</p>
      </div>
    </div>
  <% end %>
</div>