<% provide(:title, @user.name) %>
<div class="LI_UserShow">
  <div class="LI_Gamer">
    <div class="LI_SideNav">
      <div class="LI_SideNavHeader">
        <%= gravatar_for @user %>
        <div class="LI_SideNavHeaderTitle"><%= @user.name %>'s Profile</div>
        <%= link_to "Log out", logout_path, method: :delete %>
      </div>
      <div class="tab">
        <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'Matches')">Matches</button>
        <button class="tablinks" onclick="openTab(event, 'Events')">Events</button>
        <button class="tablinks" onclick="openTab(event, 'Messages')">Messages</button>
      </div>
      <div class="LI_TabContent">
        <div id="Matches" class="tabcontent">
          <h3>Matches</h3>
          <p>London is the capital city of England.</p>
        </div>
        <div id="Events" class="tabcontent">
          <% for i in 1..10 %>
            <div class="LI_Event">
              <div class="LI_EventContent">
                <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-0/c0.97.960.347a/p180x540/68410646_2817497658278911_3615990647913185280_o.jpg?_nc_cat=103&_nc_oc=AQmUoF5fzSGwZhDah0n3uW5crJ8i20gajD2gpcyQHitCCkwtEKsnbR7j9EQISD7qS8TC1xwEYGKllW9IoSPnEvHT&_nc_ht=scontent-lax3-1.xx&oh=e7fafe77964ece28cfdfa1e0c58f7e6c&oe=5E2577F7" />
                <p>Event Title</p>
                <p>Event Description</p>
                <p>Event Date</p>
              </div>
            </div>
          <% end %>
        </div>
        <div id="Messages" class="tabcontent">
          <% for i in 1..10 %>
            <div class="LI_MessageListItem">
              <%= gravatar_for @user %>
              <div>Name</div>
              <div>Most recent message</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="LI_SideNavMain">
      <div class="demo__card-cont">
        <div class="demo__card">
          <div class="demo__card__top blue">
            <div class="demo__card__img"></div>
            <p class="demo__card__name">Hungry gamer 2</p>
          </div>
          <div class="demo__card__btm">
            <p class="demo__card__we">Whatever</p>
          </div>
          <div class="demo__card__choice m--reject"></div>
          <div class="demo__card__choice m--like"></div>
          <div class="demo__card__drag"></div>
        </div>
        <div class="demo__card">
          <div class="demo__card__top purple">
            <div class="demo__card__img"></div>
            <p class="demo__card__name">Hungry gamer</p>
          </div>
          <div class="demo__card__btm">
            <p class="demo__card__we">Whatever</p>
          </div>
          <div class="demo__card__choice m--reject"></div>
          <div class="demo__card__choice m--like"></div>
          <div class="demo__card__drag"></div>
        </div>
      </div>
      <div class="LI_GamerActionButtonContainer">
        <button class="LI_GamerActionButton">
          <i class="fas fa-times fa-2x secondary"></i>
        </button>
        <button class="LI_GamerActionButton">
          <i class="fas fa-heart fa-2x primary"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
    document.getElementById("defaultOpen").click();
</script>