<div class="has-text-centered">
	<h3>Create Event</h3>
</div>
<%= render 'layouts/eventform' %>
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({
            dateFormat:'mm/dd/yy'
        });
        $('input.timepicker').timepicker({});
    });
</script>