/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, div,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, header, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  text-decoration: none;
  font-family: 'Manjari', sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
}

h1 {
  color: #FA4659;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  font-family: 'Manjari', sans-serif;
  font-size: 7em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

h2 {
  letter-spacing: 1px;
  word-spacing: 15px;
  color: #FA4659;
  font-family: 'Manjari', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  text-decoration: none;
}

h3 {
  letter-spacing: 1px;
  line-height: 2em;
  word-spacing: 8px;
  color: #FA4659;
  font-family: 'Manjari', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-decoration: none;
}

h4 {
  letter-spacing: 0.01em;
  line-height: 1.2em;
  word-spacing: 0.02em;
  color: #FA4659;
  font-family: 'Manjari', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

h5 {
  color: #FA4659;
  letter-spacing: 0.01em;
  word-spacing: 0.02em;
  font-family: 'Manjari', sans-serif;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

p {
  color: #252a34;
  font-family: 'Manjari', sans-serif;
  font-size: 1em;
  text-decoration: none;
  line-height: 1.5em;
}

svg {
  display: block;
  width:100%;
}

/* PART 1 - LinksIn Menu */
.LI_Header_Main {
    height: 20%;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LI_Space {
    flex-grow: 1;
}

.LI_Logo {
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    position: relative;
}

.LI_MenuItems {
    display: flex;
    align-items: center;

}

.LI_Nav {
    display: flex;
    width: 100%;
    margin: 1rem;
    height: fit-content;
    align-items: center;
    justify-items: center;
}

.LI_UserNav {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


/* LI BODY */
.LI_Body {
    width: 100%;
    height: 100%;
    justify-items: center;
    padding: 5%;
}

.LI_Landing {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.LI_Footer {
    display: grid;
    width: 100%;
    padding: 2% 10%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.LI_Button {
    border-radius: 5px;
    border: 0;
    -webkit-appearance: none;
    width: 100%;
    padding: 2%;
    height: fit-content;
    background-color: #88304e;
    color: #ffffff;
    text-align: center;
}

.LI_Button:Hover {
    background-color: #e23e57;
}

.LI_Overview {
    width: 100%;
    padding: 5%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.LI_OverviewElement {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10%;
}

/* LI LOGIN */
.LI_LoginForm {
    max-width: 350px;
    margin: 0 auto;
}

.LI_LoginInput {
    width: 100%;
}

/* LI LOGO */
.logo-3{stroke:#F0FFF3;stroke-miterlimit:10;fill:#F0FFF3;stroke-width:7px}

#menu-main, #main-icon{
    cursor: pointer;
}

/* LI HEART */
.heart-3{fill:#ff3939}

/* LI EVENT */
.event-1{fill:#ff3939}
.event-3{fill:#3bedff}
.event-4{fill:#2cb1b7}

/* LI MESSAGES */
.message-3{fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:7px}

/* drop down */
.dropdown-toggle {
    display: flex;
    align-items: center;
}

/* user show page */
.LI_UserShowHead {
    height: 128px;
    display: flex;
    align-items: center;
}

.LI_UserShowHead img {
    width: 128px;
}

.LI_MultiDivContainer > * {
    margin: 3rem 0;
}

.LI_Event {
    position: relative;
    width: 80%;
    height: 320px;
    background: deepskyblue;
    margin: 2rem auto;
}

.LI_EventContent {
    position: absolute;
    margin: 1rem;
}

.LI_EventContent img {
    width: 100%;
}

.LI_Gamer {
  text-align: center;
  margin: 3rem auto;
}

.LI_TableRow th {
    padding: 1rem;
}

.LI_TableRow td {
    padding: 1rem;
}

.demo__card-cont {
  position: relative;
  width: 20rem;
  height: 26rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  border-radius: 15px;
}

.demo__card:first-child {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .25);
}

.demo__card.reset {
  transition: transform 0.3s;
  transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: transform 0.3s;
}
.demo__card.to-left {
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 20.5rem;
  padding-top: 4rem;
}
.demo__card__top.purple {
  background: #7132b9;
  border-radius: 15px 15px 0 0;
}
.demo__card__top.blue {
  background: #248cb6;
  border-radius: 15px 15px 0 0;
}
.demo__card__top.indigo {
  background: #303f9f;
}
.demo__card__top.cyan {
  background: #26c6da;
}
.demo__card__top.lime {
  background: #afb42b;
}
.demo__card__top.brown {
  background: #795548;
}
.demo__card__img {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  background-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg');
  background-size: cover;
}
.demo__card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.demo__card__btm {
  height: 5.5rem;
  background: #fff;
  border-radius: 0 0 15px 15px;
}
.demo__card__we {
  /*text-align: center;*/
  font-size: 2.2rem;
  /*line-height: 11.5rem;*/
  /*height: 100%;*/
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #ff945a;
  border-radius: 15px;
}
.demo__card__choice.m--like {
  background: #b1da96;
  border-radius: 15px;
}
.demo__card__choice.m--like:after {
  transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
}

.primary {
  color: #08d9d6;
}

.secondary {
  color: #ff2e63;
}

.LI_GamerActionButtonContainer {
  margin: 2rem 0;
}

.LI_GamerActionButtonContainer button {
  margin: 1rem
}

.LI_GamerActionButton {
  text-decoration: none;
  background: #eaeaea;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: .2s;
  outline: none;
  border: 0;
  display: inline-flex;
  justify-content: center;
}

.LI_GamerActionButton:hover {
  transform: scale(1.3);
}

.LI_SideNav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  border: 1px solid #eaeaea;
  background: white;
}

.LI_SideNavHeader {
  background: #ff2e63;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.LI_SideNavHeaderTitle {
  color: white;
}

.LI_SideNavHeader img {
  border-radius: 50%;
}

.LI_SideNavMain {
  margin-left: 25%;
}

.LI_SwipeBody {
  overflow: hidden;
  background: rgb(245, 247, 250);
}

.tab {
  display: inline-flex;
  justify-content: space-between;
  height: 10%;
}

.LI_TabContent {
  overflow-y: auto;
  height: 80%;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
}

.tab button.active {
  color: #ff2e63;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.LI_MessageListItem {
  display: block;
  height: 80px;
}
