/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, div,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, header, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  text-decoration: none;
  font-family: 'Manjari', sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
}

h1 {
  color: #FA4659;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  font-family: 'Manjari', sans-serif;
  font-size: 7em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

h2 {
  letter-spacing: 1px;
  word-spacing: 15px;
  color: #FA4659;
  font-family: 'Manjari', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  text-decoration: none;
}

h3 {
  letter-spacing: 1px;
  line-height: 2em;
  word-spacing: 8px;
  color: #FA4659;
  font-family: 'Manjari', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-decoration: none;
}

h4 {
  letter-spacing: 0.01em;
  line-height: 1.2em;
  word-spacing: 0.02em;
  color: #FA4659;
  font-family: 'Manjari', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

h5 {
  color: #FA4659;
  letter-spacing: 0.01em;
  word-spacing: 0.02em;
  font-family: 'Manjari', sans-serif;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

p {
  color: #252a34;
  font-family: 'Manjari', sans-serif;
  font-size: 1em;
  text-decoration: none;
  line-height: 1.5em;
}

svg {
  display: block;
  width:100%;
}

/* PART 1 - LinksIn Menu */
.LI_Header_Main {
    top: 0;
    width: 100%;
    height: 20%;
    padding: 1.5%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 2fr;
    grid-gap: 5%;
    position: fixed;
}

.LI_Space {
    flex-grow: 1;
}

.LI_Logo {
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    position: relative;
}

.LI_MenuItems {
    display: flex;
    align-items: center;

}

.LI_Nav {
    display: flex;
    width: 100%;
    margin: 1rem;
    height: fit-content;
    align-items: center;
    justify-items: center;
}

.LI_UserNav {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


/* LI BODY */
.LI_Body {
    width: 100%;
    height: 100%;
    justify-items: center;
    padding: 5%;
}

.LI_Landing {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.LI_Footer {
    display: grid;
    width: 100%;
    padding: 2% 10%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.LI_Button {
    border-radius: 5px;
    border: 0;
    -webkit-appearance: none;
    width: 100%;
    padding: 2%;
    height: fit-content;
    background-color: #88304e;
    color: #ffffff;
    text-align: center;
}

.LI_Button:Hover {
    background-color: #e23e57;
}

.LI_Overview {
    width: 100%;
    padding: 5%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.LI_tablinks {
    align-items: center;
    justify-items: center;
    width: 50px;
    height: 100px;
}

.LI_tablinks {
    display: grid;
    grid-template-columns: 1fr;
}

.LI_OverviewElement {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10%;
}

/* LI LOGIN */
.LI_LoginForm {
    max-width: 350px;
    margin: 0 auto;
}

.LI_LoginInput {
    width: 100%;
}

/* LI LOGO */
.logo-3{stroke:#F0FFF3;stroke-miterlimit:10;fill:#F0FFF3;stroke-width:7px}

#menu-main, #main-icon{
    cursor: pointer;
}

/* LI HEART */
.heart-3{fill:#ff3939}

/* LI EVENT */
.event-1, .event-2{fill:#ff3939}
.event-3{fill:#3bedff}
.event-4{fill:#2cb1b7}

.event-1 {
    opacity: 0;
}

/* LI MESSAGES */
.message-3{fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:7px}

/* drop down */
.dropdown-toggle {
    display: flex;
    align-items: center;
}

/* user show page */
.LI_UserShowHead {
    height: 128px;
    display: flex;
    align-items: center;
}