.card-container {
	perspective: 800px;
	background-color: transparent;
}

.card {
	transition: transform 0.8s;
	transform-style: preserve-3d;
	position: relative;
}

.card.flipped {
	transform: rotateY( 180deg );
	background: transparent;
}

.card .front {
	backface-visibility: hidden;
}

.card .back {
	backface-visibility: hidden;
	transform: rotateY( 180deg );
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.flip-button {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 1rem;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.flip-button:hover {
	color: #ffffff !important;
	background: #08d9d6;
	border-color: #08d9d6 !important;
	transition: all 0.4s ease 0s;
}

.flip-button:focus {
	outline: 0;
}

.back-container {
	margin: 1.4rem;
}