// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.LI_UserShow {
  width: 100%;
  height: 100%;
  padding: 5%;
  padding-top: 10%;
}

.LI_UserShowHead img {
    width: 128px;
}

.LI_MultiDivContainer > * {
    margin: 3rem 0;
}

.LI_Event {
    position: relative;
    width: 100%;
    padding: 2.5%;
}

.LI_EventContent, .LI_MessageListItem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 5%;
    padding: 5%;
}

.LI_EventContent img {
    width: 100%;
}

.LI_TableRow th {
    padding: 1rem;
}

.LI_TableRow td {
    padding: 1rem;
}

.demo__card-cont {
  position: relative;
  width: 20rem;
  height: 26rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  border-radius: 15px;
}

.demo__card:first-child {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .25);
}

.demo__card.reset {
  transition: transform 0.3s;
  transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: transform 0.3s;
}
.demo__card.to-left {
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.demo__card.to-right {
  transform: translate(30rem) rotate(30deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 20.5rem;
  padding-top: 4rem;
}
.demo__card__top.purple {
  background: #7132b9;
  border-radius: 15px 15px 0 0;
}
.demo__card__top.blue {
  background: #248cb6;
  border-radius: 15px 15px 0 0;
}
.demo__card__top.indigo {
  background: #303f9f;
}
.demo__card__top.cyan {
  background: #26c6da;
}
.demo__card__top.lime {
  background: #afb42b;
}
.demo__card__top.brown {
  background: #795548;
}
.demo__card__img {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  background-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg');
  background-size: cover;
}
.demo__card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.demo__card__btm {
  height: 5.5rem;
  background: #fff;
  border-radius: 0 0 15px 15px;
}
.demo__card__we {
  /*text-align: center;*/
  font-size: 2.2rem;
  /*line-height: 11.5rem;*/
  /*height: 100%;*/
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #ff945a;
  border-radius: 15px;
}
.demo__card__choice.m--like {
  background: #b1da96;
  border-radius: 15px;
}
.demo__card__choice.m--like:after {
  transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
}

.primary {
  color: #08d9d6;
}

.secondary {
  color: #ff2e63;
}

.LI_GamerActionButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
  padding: 5%;
  margin: auto;
  justify-items: center;
}

.LI_GamerActionButtonContainer button {
  width: 75px;
  height: 75px;
}

.LI_GamerActionButton {
  text-decoration: none;
  background: #eaeaea;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: .2s;
  outline: none;
  border: 0;
  display: inline-flex;
  justify-content: center;
}

.LI_GamerActionButton:hover {
  transform: scale(1.3);
}

.LI_SideNav {
  height: 100%;
  width: 100%;
}

.LI_SideNavHeader img {
  border-radius: 50%;
}

.LI_SideNavMain {
  height: 100%;
  width: 100%;

}

.LI_SwipeBody {
  overflow: hidden;
  background: rgb(245, 247, 250);
}

.tab {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  grid-gap: 5%;
  justify-items: center;
  align-items: center;
}

.tabcontent {
  width: 100%;
  height: 80vh;
  overflow-x:hidden;
  overflow-y: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(auto-fill, 1fr)
}

.LI_TabContent {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
}

.tab button.active {
  color: #ff2e63;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
