<div class="dropdown" style="margin: auto">
  <div class="dropdown-trigger">
    <button class="button">
      <span>Account</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu">
    <div class="dropdown-content">
      <%= link_to "Profile", profile_path(current_user.profile), :class => "dropdown-item" %>
      <%= link_to "Settings", edit_user_path(current_user), :class => "dropdown-item" %>
      <hr class="dropdown-divider">
      <%= link_to "Log out", logout_path, method: :get, :class => "dropdown-item" %>
    </div>
  </div>
</div>
<script type="text/javascript">
    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
        dropdown.classList.toggle('is-active');
    });
</script>