<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Account</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <%= link_to "Update", edit_user_path(current_user), :class => "dropdown-item" %>
      <hr class="dropdown-divider">
      <%= link_to "Log out", logout_path, method: :get, :class => "dropdown-item" %>
    </div>
  </div>
</div>
<script type="text/javascript">
    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });
</script>