<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Account</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        Update
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        Log out
      </a>
    </div>
  </div>
</div>
<% if logged_in? %>
  <div>
    <%= link_to "Update", edit_user_path(current_user) %>
    <br>
    <%= link_to "Log out", logout_path, method: :delete %>
  </div>
<% end %>
<script type="text/javascript">
    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });
</script>