<footer class="footer" style="background: white">
  <small>
    The premiere networking app for gamers.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/scalableinternetservices/linksin">Source</a></li>
    </ul>
  </nav>
</footer>