<footer class="footer" style="background: white">
  <div class="columns">
    <div class="column is-four-fifths">
      <small>
        The premiere networking app for gamers.
      </small>
    </div>
    <div class="column">
      <%= link_to "Contact", contact_path %>
    </div>
    <div class="column">
      <a href="https://github.com/scalableinternetservices/linksin">Source</a>
    </div>
  </div>
</footer>