<div class="LI_GamerCardContainer">
  <div class="demo__card-cont">
    <div class="demo__card">
      <div class="demo__card__top blue">
        <div class="demo__card__img"></div>
        <p class="demo__card__name">Hungry gamer 2</p>
      </div>
      <div class="demo__card__btm">
        <p class="demo__card__we">Whatever</p>
      </div>
      <div class="demo__card__choice m--reject"></div>
      <div class="demo__card__choice m--like"></div>
      <div class="demo__card__drag"></div>
    </div>
    <div class="demo__card">
      <div class="demo__card__top purple">
        <div class="demo__card__img"></div>
        <p class="demo__card__name">Hungry gamer</p>
      </div>
      <div class="demo__card__btm">
        <p class="demo__card__we">Whatever</p>
      </div>
      <div class="demo__card__choice m--reject"></div>
      <div class="demo__card__choice m--like"></div>
      <div class="demo__card__drag"></div>
    </div>
  </div>
  <div class="LI_GamerCardActionButtonContainer">
    <button class="LI_GamerActionButton">
      <i class="fas fa-times fa-2x secondary"></i>
    </button>
    <button class="LI_GamerActionButton">
      <i class="fas fa-heart fa-2x primary"></i>
    </button>
  </div>
</div>